@import "tailwindcss";

@theme {
  --color-brand-primary: #cde0e6;
  --color-brand-secondary: #f0cbbd;
  --color-brand-neutral-1: #f0cbbd;
  --color-brand-neutral-2: #cde0e6;
  --color-brand-neutral-3: #e8dcc6;
  --color-brand-links: #caa592;
  --color-brand-border: #d5d3d4;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

:root {
  --brand-background: #cde0e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", serif;
}

h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: "Lato", sans-serif;
}

button,
input,
textarea,
select,
label {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

@layer utilities {
  .animate-in {
    @apply opacity-100 translate-y-0;
  }
}